/* Общие стили */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #F5F7FA;
  color: #171819;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}

/* Типографика */

.heading {
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  color: #2E3033;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.heading_large {
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* GUI элементы */

.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 9px 20px;
  background-color: #cca67a;
  box-shadow: 0 1px 3px -2px rgba(81,88,113, 1);
  white-space: nowrap;
}


.btn:hover {
  box-shadow: 0 7px 15px -4px rgba(81,88,113,.4);
  border: 0;
  color: #fff;
  background-color: #2E3033;
}

/* Стили для страницы */

.tm-page__heading {
  text-align: center;
  margin: 0.67em 15px;
}

.tm-page__in {
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Блок расписания */
.timetable {

}

/* Блоки лекций */

.lectures {
  display: flex;
  flex-wrap: wrap;

}

.lecture {
  box-sizing: border-box;
  width: 25%;
  align-self: stretch;
  background: #FFF;
  padding: 18px 28px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.2);
}

.lecture__date {
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: #cca67a;
}

.lecture__label {
  display: block;
}

.lecture__label_inline {
  display: inline;
}

.lecture__day, .lecture__time {
  display: inline-block;
}

.lecture__schools, .lecture__lectors {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
}

.lecture__school, .lecture__place {
  display: inline-block;
  color: #5c6066;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.lecture__school:after {
  content: ", ";
}

.lecture__school:last-child:after {
  display: none;
}

.lecture__theme {
  color: #CCA67A;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3333333333;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.lecture__place {
  color: #17181a;
  margin-top: 4px;
  line-height: 1.3333333333;
}

.lecture__lectorbio {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #FFF;
  padding: 15px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.2);
  z-index: 1;
}

.lecture__lector {
  cursor: pointer;
  position: relative;
}

.lecture__lectorcompany {
  color: #5c6066;
}

.lecture__lector:hover .lecture__lectorbio {
  display: block;
}

.lecture_left {
  background: #F7F7F7;
}

.lecture_left .lecture__date,
.lecture_left .lecture__theme {
  color: #5c6066;
}

.lecture__link {
  margin: 5px 0px;
  cursor: pointer;
}

.lecture__links {
  margin-top: 20px;

}

/* Стили для планшетов */

@media (min-width:768px) and (max-width: 1024px) {
  .heading_large {
    font-size: 30px;
  }

  .lecture {
    width: 50%;
  }
}

/* Стили для мобильных */
@media (max-width: 768px) {

  .heading_large {
    font-size: 24px;
  }

  .lecture {
    width: 100%;
  }

}



/* Блок с фильтрами */
.filters {
  display: none;
}